body{
  background-color: rgb(59, 55, 55);
  color: #ddd;
}

main{
  max-width: 300px;
  margin: 0 auto;
  margin-top: 30px;
}
h1{
  text-align: center;
  color: white;
  margin: 0;
}
form{
  margin-top: 20px;
}
form input{
  width: 100%;
}
